Checks: 'bugprone-*, google-*, cppcoreguidelines-*, clang-*, readability-*, portability-*, modernize-*, performance-*, misc-*, -modernize-use-trailing-return-type, -misc-non-private-member-variables-in-classes'